.post_span {
  background-color: #50fa7b !important;
}

.get_span {
  background-color: #bd93f9 !important;
}

.del_span {
  background-color: #ff5555 !important;
}

.put_span {
  background-color: #ffb86c !important;
}

